<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- 관리자 푸터 -->
    <footer th:fragment="admin-footer" class="admin-footer">
        <div class="container">
            <p>&copy; 2024 CMS Admin. All rights reserved.</p>
        </div>
    </footer>

    <!-- 사용자 푸터 -->
    <footer th:fragment="user-footer" class="user-footer">
        <div class="container">
            <p>© 2024 Grap CMS. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
