<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="Grap"></title>
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <!-- 헤더 -->
    <div th:replace="~{common/fragments/header :: user-header}"></div>

    <!-- 메인 컨텐츠 -->
    <main class="container">
        <div th:replace="${content}"></div>
    </main>

    <!-- 푸터 -->
    <div th:replace="~{common/fragments/footer :: user-footer}"></div>
</body>
</html>
