<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Grap</title>
    <link rel="stylesheet" th:href="@{/common/css/site-header.css}">
    <link rel="stylesheet" th:href="@{/grap/css/user.css}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <th:block th:replace="~{common/fragments/adsense-script :: adsense-script}"></th:block>
</head>
<body>
<div th:replace="~{common/fragments/cms-header :: user-header}"></div>

<main class="user-container">
    <div th:replace="${content}"></div>
</main>

<div th:replace="~{common/fragments/cms-footer :: user-footer}"></div>

<script th:src="@{/common/js/common.js}"></script>
<script th:if="${packVisitorId != null}">
    window.PACK_VISITOR_ID = [[${packVisitorId}]];
</script>
<script th:if="${packVisitorId != null}" th:src="@{/common/js/pack-visitor.js}"></script>
</body>
</html>
